extends layout

append scripts
	link(rel="stylesheet", href="/login.css")
	script(src='/javascript/index.js')

block header
	h1 #{title}

block content
	#main
		ol(data-role="listview", data-inset="false")
			each driver in drivers
				li(data-icon="none") #{driver.uri}


block footer



	